<div class="h-100 homePage">
  <div class="top-element">
    <div class="userInfo">
      <img  class="img-thumbnail" src="assets/img/nitin.jpg">
      <p>Age : 21<br>
        Gender: M<br>
        01/01/2000
      </p>
    </div>
  </div>
  <div class="bottom-element row">
    <div class="table-container col">
      <table class="table table-bordered">
        <tbody class="text-center">
        <tr>
          <td>02/01/19</td>
        </tr>
        <tr>
          <td>28/12/18</td>
        </tr>
        <tr>
          <td>15/12/18</td>
        </tr>
        <tr>
          <td>07/12/18</td>
        </tr>
        <tr>
          <td>29/11/18</td>
        </tr>
        <tr>
          <td>21/11/18</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="right-element col">
      <div class="">
        <div class="row">
          <div class="col-6" *ngFor="let category of returnObjectKeys(userData['categories'])">
            <div class="category">
              <h3 class="heading">{{category | titlecase}} <img src="assets/img/icons/Group 24@2x.png" class="cursor-pointer" (click)="openModel(category)"></h3>
              <ul *ngIf="userData['categories'][category]['type'] === 'array'">
                <li *ngFor="let point of userData['categories'][category]['data']">{{point}}</li>
              </ul>
              <ul *ngIf="userData['categories'][category]['type'] === 'dict'">
                <li *ngFor="let key of returnObjectKeys(userData['categories'][category]['data'])">{{key | titlecase}}: {{userData['categories'][category]['data'][key]}}</li>
              </ul>
              <div *ngIf="userData['categories'][category]['type'] === 'arrayOfArray'">
                <table class="table table-borderless table-active table-hover">
                  <tbody>
                  <tr *ngFor="let line of userData['categories'][category]['data']">
                    <td *ngFor="let el of line">{{el}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inputModel1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inputModel1Title">Medicine Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onFormSubmit('array')">
          <div class="form-group">
            <label for="value_model1">Information</label>
            <input [(ngModel)]="value_model1" name="value_model1" type="text" class="form-control" id="value_model1" placeholder="Information" autocomplete="off">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inputModel2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inputModel2Title">Medicine Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onFormSubmit('dict')">
          <div class="form-group">
            <label for="key_model2">Medicine Name</label>
            <input [(ngModel)]="key_model2" name="key_model2" type="text" class="form-control" id="key_model2" placeholder="Medicine Name" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="value_model2">Quantity</label>
            <input [(ngModel)]="value_model2" name="value_model2" type="text" class="form-control" id="value_model2" placeholder="Quantity" autocomplete="off">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inputModel3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inputModel3Title">Medicine Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onFormSubmit('arrayOfArray')">
          <div class="form-group">
            <label for="value_model3_medicine">Medicine Name</label>
            <input [(ngModel)]="value_model3.medicine" name="value_model3_medicine" type="text" class="form-control" id="value_model3_medicine" placeholder="Medicine Name" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="value_model3_quantity">Quantity</label>
            <input [(ngModel)]="value_model3.quantity" name="value_model3_quantity" type="text" class="form-control" id="value_model3_quantity" placeholder="Quantity" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="value_model3_afterOrBefore">After/Before Food</label>
            <input [(ngModel)]="value_model3.afterOrBefore" name="value_model3_afterOrBefore" type="text" class="form-control" id="value_model3_afterOrBefore" placeholder="After/Before Food" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="value_model3_times">When to take?</label>
            <input [(ngModel)]="value_model3.times" name="value_model3_times" type="text" class="form-control" id="value_model3_times" placeholder="Time" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="value_model3_days">No. of days</label>
            <input [(ngModel)]="value_model3.days" name="value_model3_days" type="text" class="form-control" id="value_model3_days" placeholder="Days" autocomplete="off">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inputModel4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg-custom" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <form>
              <div class="form-row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Drug Name" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Dosage">
                </div>
                <div class="col-sm-4">
                  <select type="text" class="form-control" required>
                    <option value="mg" selected>mg</option>
                    <option value="ml">ml</option>
                  </select>
                </div>
              </div>
              <div class="form-row list-inline row">
                <div class="form-check form-check-inline col-4 text-center d-block">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Before</label>
                </div>
                <div class="form-check form-check-inline col-4 text-center d-block">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">After</label>
                </div>
                <div class="form-check form-check-inline col-4 text-center d-block">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">SOS</label>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-4 text-center">
                  <input type="number" min="0" max="3" step="1" value="0">
                </div>
                <div class="col-sm-4 text-center">
                  <input type="number" min="0" max="3" step="1" value="0">
                </div>
                <div class="col-sm-4 text-center">
                  <input type="number" min="0" max="3" step="1" value="0">
                </div>
              </div>
              <div class="form-row custom-footer">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary-custom btn-sm" data-dismiss="modal">Done</button>
                </div>
                <div class="col-6 text-right">
                  <button type="submit" class="btn btn-primary-custom btn-sm">Add</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4 table-container">
            <table class="table table-striped table-hover ">
              <tbody>
              <tr *ngFor="let item of [].constructor(10)">
                <td>Aspirin</td>
                <td>4mg</td>
                <td>AF</td>
                <td>1-0-1</td>
                <td><img src="assets/img/icons/Group 24@2x.png" class="cursor-pointer img-add-size"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-5 last-block">
            <div class="form-row">
              <div class="col text-center">
                <input type="text" placeholder="Duration (Days)">
              </div>
            </div>
            <div class="list-group-item-custom" *ngFor="let item of [].constructor(2); let i=index">
              <span>{{i+1}}. </span>
              <span class="drug-name" data-toggle="tooltip" data-placement="top" title="Aspirin Aspirin Aspirin" trigger="hover focus click">AspirinAspirinAspirin</span>
              <span>4mg</span>
              <span>AF</span>
              <span>1-0-1</span>
              <span><input type="text" placeholder="Days"></span>
              <span><img src="assets/img/icons/Union 25@2x.png" class="cursor-pointer"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
