<div class="h-100 homePage">
  <div class="top-element">
    <div class="userInfo">
      <img  class="img-thumbnail" src="assets/img/nitin.jpg">
      <p>Age : 21<br>
        Gender: M<br>
        01/01/2000
      </p>
    </div>
  </div>
  <div class="bottom-element row">
    <div class="table-container col">
      <table class="table table-bordered">
        <tbody class="text-center">
        <tr>
          <td>02/01/19</td>
        </tr>
        <tr>
          <td>28/12/18</td>
        </tr>
        <tr>
          <td>15/12/18</td>
        </tr>
        <tr>
          <td>07/12/18</td>
        </tr>
        <tr>
          <td>29/11/18</td>
        </tr>
        <tr>
          <td>21/11/18</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="right-element col">
      <div class="">
        <div class="row">
          <div class="col-6" *ngFor="let category of returnObjectKeys(userData['categories'])">
            <div class="category">
              <h3 class="heading">{{category | titlecase}} <img src="assets/img/icons/Group 24@2x.png"></h3>
              <ul *ngIf="returnIsArray(userData['categories'][category])">
                <span *ngFor="let point of userData['categories'][category]; let i = index">
                  <div *ngIf="returnIsString(point)"><li class="points">{{point}}</li></div>
                  <div *ngIf="!(returnIsString(point))">
                    <table class="table table-borderless table-active table-hover">
                      <tbody>
                        <tr>
                          <td *ngFor="let el of userData['categories'][category][i]">{{el}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </span>
              </ul>
              <ul *ngIf="!(returnIsArray(userData['categories'][category]))">
                <li class="points" *ngFor="let point of returnObjectKeys(userData['categories'][category])">{{point | titlecase}} : {{userData['categories'][category][point]}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
