.homePage {
  background-color: white !important;
}
.heading {
  img {
    height: 45px;
    margin-top: -5px;
  }
}
.top-element {
  background-color: #50D5A5;
  min-height: 200px;
  .userInfo {
    img {
      height: 100px;
      float: left;
      margin: 10px;
    }
    p {
      margin: 10px;
      float: left;
    }
    margin: 40px;
    position: absolute;
  }
}
.bottom-element {
  margin-right: 0 !important;
  .table-container{
    min-width: 275px;
    max-width: 275px;
    max-height: 500px;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.7);
    color: white;
    table {
      margin: 7px;
    }
  }
}
.right-element {
  margin-top: -140px;
  background: white;
  border-radius: 10px;
  max-width: calc(100% - 295px);
  padding: 60px 20px 20px 60px;
}
.cursor-pointer {
  cursor: pointer;
}
.form-row{
  padding: 5px 0;
}
.form-check-inline {
  margin-right: 0;
}
.modal-lg-custom {
  min-width: 1050px;
}
.custom-footer {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.btn-secondary-custom {
  border-color: #50d5a5;
  color: #50d5a5;
  min-width: 52px;
}
.btn-primary-custom {
  background-color: #50d5a5;
  color: white;
  min-width: 52px;
}
.img-add-size {
  height: 30px;
}
#inputModel4 {
  .form-row:nth-child(3) {
    padding: 1rem 0;
  }
  .form-row:nth-child(4) {
    padding: 1rem 0 2rem 0;
  }
  .table-container {
    max-height: 300px;
    overflow-y: scroll;
  }
}
.last-block{
  .list-group-item-custom {
    padding: 0.25rem;
    display: inline-flex;
  }
  input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0 5px;
  }
  span {
    padding: 5px;
  }
  span.drug-name {
    white-space: nowrap;
    max-width: 170px;
    min-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  span{
    input {
      max-width: 60px;
    }
    img {
      height: 15px;
    }
  }
}
