.homePage {
  background-color: white !important;
}
.heading {
  img {
    height: 45px;
    margin-top: -5px;
  }
}
.top-element {
  background-color: #50D5A5;
  min-height: 200px;
  .userInfo {
    img {
      height: 100px;
      float: left;
      margin: 10px;
    }
    p {
      margin: 10px;
      float: left;
    }
    margin: 40px;
    position: absolute;
  }
}
.bottom-element {
  margin-right: 0 !important;
}
.table-container{
  min-width: 275px;
  max-width: 275px;
  max-height: 500px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.7);
  color: white;
  table {
    margin: 7px;
  }
}
.right-element {
  margin-top: -140px;
  background: white;
  border-radius: 10px;
  max-width: calc(100% - 295px);
  padding: 60px 20px 20px 60px;
}
.cursor-pointer {
  cursor: pointer;
}
