<div class="h-100 homePage">
  <div class="top-element">
    <div class="userInfo">
      <img  class="img-thumbnail" src="assets/img/nitin.jpg">
      <p>Age : 21<br>
        Gender: M<br>
        01/01/2000
      </p>
    </div>
  </div>
  <div class="bottom-element row">
    <div class="table-container col">
      <table class="table table-bordered">
        <tbody class="text-center">
        <tr>
          <td>02/01/19</td>
        </tr>
        <tr>
          <td>28/12/18</td>
        </tr>
        <tr>
          <td>15/12/18</td>
        </tr>
        <tr>
          <td>07/12/18</td>
        </tr>
        <tr>
          <td>29/11/18</td>
        </tr>
        <tr>
          <td>21/11/18</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="right-element col">
      <div class="">
        <div class="row">
          <div class="col">
            <div class="category">
              <h3 class="heading">Allergies <img src="assets/img/icons/Group 24@2x.png"></h3>
              <ul>
                <li class="points">first allergy</li>
                <li class="points">second allergy</li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="category">
              <h3 class="heading">Problem <img src="assets/img/icons/Group 24@2x.png"></h3>
              <ul>
                <li class="points">first problem</li>
                <li class="points">second problem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
