<div class="container h-100">
  <div class="row h-100 align-items-center text-center">
    <div class="col-12 mycard">
      <h2>SIGN UP</h2>
      <form id="signupForm" class="text-left">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="email" class="form-control" id="nameInput" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="medicalInput">Medical</label>
          <input type="text" class="form-control" id="medicalInput" placeholder="Medical">
        </div>
        <div class="form-group">
          <label for="registrationInput">Registration Number</label>
          <input type="text" class="form-control" id="registrationInput" placeholder="Enter registration number">
        </div>
        <div class="form-group">
          <label for="phoneInput">Phone</label>
          <input type="tel" class="form-control" id="phoneInput" placeholder="Enter phone number">
        </div>
        <div class="submit-btn-container text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <br>
      <button class="btn btn-info btn-lg">Sign Up with Google</button>
    </div>
  </div>
</div>
