/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  min-width: 1100px;
  background-color: #ddd;
}

.mycard {
  padding: 10px 20px;
  border: #a5a5a5 solid 1px;
  border-radius: 5px;
}

.container {
  min-width: 800px;
}
