<div class="container h-100">
  <div class="row h-100 align-items-center text-center">
    <div class="col-12">
      <form id="searchForm">
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Search (Roll Number)">
        </div>
        <div class="submit-btn-container text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <br><br><br>
      <button class="btn btn-info btn-lg">Previous Patients</button>
    </div>
  </div>
</div>
