<div class="container h-100">
  <div class="row h-100 align-items-center text-center">
    <div class="col-12">
      <form id="searchForm" (ngSubmit)="openModal()">
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Search (Roll Number)">
        </div>
        <div class="submit-btn-container text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <br><br><br>
      <button class="btn btn-info btn-lg">Previous Patients</button>
    </div>
  </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Sl no.</th>
            <th>Name</th>
            <th>Roll No.</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [].constructor(7)">
              <td>1</td>
              <td>Navaneeth Biju</td>
              <td>6584 4848 5959</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
